<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <p>Выберите действие:</p>
    <h3>Проверьте свою текущую заработную плата и дату следующего повышения</h3>
    <div id="login-error">
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
    </div>
    <form method="post">
        <div class="form-group">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" placeholder="Введите имя пользователя">
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" placeholder="Введите пароль">
        </div>
        <button type="submit">Провеить</button>
    </form>
    <br>
    <h3>Или зарегистрируйтесь:</h3>

    <div id="result">
        {% if error %}
            {{ error }}
        {% endif %}
    </div>

    <a href="/register">Регистрация</a>

</body>
</html>