<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salary Information</title>
</head>
<body>
<form method="GET">
    <h1>Ваша информация по заработной плате работника {{salary.user.username}}</h1>
    <p>Текущая заработная плата: {{ salary.salary }}</p>
    <p>Дата следующего повышения: {{ salary.next_promotion }}</p>
</form>
</body>
</html>